#tampilan {
	margin: 0 auto;
	padding: 0px;
	background:white;
	width:10px;
}

#tampilan1 {
	margin: 0 auto;
	padding: 0px;
	background:white;
	width: 100px;
}


#form-input {
	margin-left: 0px;
}

#form-input1 {
	margin-left: 0px;
}

#form-input2 {
	margin-left: 0px;
}

#form-input3 {
	margin-left: 0px;
}

#form-input4 {
	margin-left: 0px;
}

#form-input5 {
	margin-left: 0px;
}

#form-input6 {
	margin-left: 0px;
}

#form-input7 {
	margin-left: 0px;
}
